API_TOKEN=TELEGRAM_BOT_TOKEN
ADMINS=123456789,987654321
HMAC_SECRET_KEY=change-me

DB_NAME=diplomathesis
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0